<!--ACCORDION MENU-->

<div class="row">
	<div class="panel-group" id="accordion">
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
	          Administração
	        </a>
	      </h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse">
	      <div class="panel-body">
	        <table class="table" id="menus">
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-user text-primary"></span>
                        <%= link_to 'Usuários', users_path if user_signed_in? %>
                    </td>
                </tr>
	        </table>
	      </div>
	    </div>
	  </div>
	</div>
</div>